In [2]:
from SRC.func_geoquery import *
import pandas as pd
from pymongo import MongoClient
dbName = "mongoProject"
mongodbURL = f"mongodb://localhost/{dbName}"
client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
client= MongoClient("mongodb://localhost/mongoProject")
db = client.get_database()
client = MongoClient()

Now I am going to find how many places that interest our company are close to three points in London.

In [6]:
#These are my offices

query_inlondon = {"latitude":{"$gt":0}}
query_inlondon = list(db.inlondon.find(query_inlondon,{"name":1, "geopoint": 1, "_id":0}))
inlondon = pd.DataFrame(query_inlondon)
display(inlondon)

inlondon["geopoint"][0]

        name                                           geopoint
0    amiando  {'type': 'Point', 'coordinates': [-0.0836311, ...
1   Playfish  {'type': 'Point', 'coordinates': [-0.1984802, ...
2  TweetDeck  {'type': 'Point', 'coordinates': [-0.1262362, ...

{'type': 'Point', 'coordinates': [-0.0836311, 51.5248598]}

# HEALTH AND WELFARE
## Parks

In [5]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.parks.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=500))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 1
#Playfish 0
#TweetDeck 1

{'amiando': [{'_id': ObjectId('5efa09f9c130ec0934edf0cd'),
   'name': 'Bunhill Fields Burial Ground',
   'latitude': 51.523686,
   'longitude': -0.088734,
   'geopoint': {'type': 'Point', 'coordinates': [-0.088734, 51.523686]}}],
 'Playfish': [],
 'TweetDeck': [{'_id': ObjectId('5efa09f9c130ec0934edf0d3'),
   'name': 'Victoria Tower Gardens South',
   'latitude': 51.4969444,
   'longitude': -0.125,
   'geopoint': {'type': 'Point', 'coordinates': [-0.125, 51.4969444]}}]}

## Happy Office-Dog

In [6]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.happydog.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=500))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 1
#Playfish 0
#TweetDeck 0

{'amiando': [{'_id': ObjectId('5efa5db25a0ab7410649d309'),
   'name': 'City Dog',
   'latitude': 51.5243723,
   'longitude': -0.0808405,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0808405, 51.5243723]}}],
 'Playfish': [],
 'TweetDeck': []}

# BEING CONFORTABLE

## Primary Schools

In [7]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.primaryschools.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=2000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 4
#Playfish 0
#TweetDeck 1

{'amiando': [{'_id': ObjectId('5efa0ab0e4fe7e5d9ed52cd2'),
   'name': 'Christ Church C of E Primary School',
   'latitude': 51.5188862,
   'longitude': -0.0717826,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0717826, 51.5188862]}},
  {'_id': ObjectId('5efa0ab0e4fe7e5d9ed52cdc'),
   'name': 'Dallington School',
   'latitude': 51.5245955,
   'longitude': -0.1004633,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1004633, 51.5245955]}},
  {'_id': ObjectId('5efa0ab0e4fe7e5d9ed52cd1'),
   'name': 'Rotherfield Primary School',
   'latitude': 51.5390826,
   'longitude': -0.0910265,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0910265, 51.5390826]}},
  {'_id': ObjectId('5efa0ab0e4fe7e5d9ed52ccf'),
   'name': "St Alban's C of E Primary & Nursery School",
   'latitude': 51.5201319,
   'longitude': -0.1112253,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1112253, 51.5201319]}}],
 'Playfish': [],
 'TweetDeck': [{'_id': ObjectId('5efa0ab0e4fe7e5d9ed52cde'),
   'name': 'Westminster Cathedral R C Primary School',
   'latitude': 51.4886547,
   'longitude': -0.1323582,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1323582, 51.4886547]}}]}

# BEING CONNECTED

## Airports

In [9]:

def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.airports.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=6000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 1
#Playfish 0
#TweetDeck 0

{'amiando': [{'_id': ObjectId('5efa0a3b471cc3375840ff99'),
   'name': 'Airport Force Ltd',
   'latitude': 51.5399513,
   'longitude': -0.0537234,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0537234, 51.5399513]}}],
 'Playfish': [],
 'TweetDeck': []}

## Buses

In [10]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.buses.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=1000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 1
#Playfish 0
#TweetDeck 2

{'amiando': [{'_id': ObjectId('5efa0a7b374593c6406084ef'),
   'name': 'Shoreditch High Street Station (Stop N)',
   'latitude': 51.524963,
   'longitude': -0.077243,
   'geopoint': {'type': 'Point', 'coordinates': [-0.077243, 51.524963]}}],
 'Playfish': [],
 'TweetDeck': [{'_id': ObjectId('5efa0a7b374593c6406084f0'),
   'name': 'Waterloo Station',
   'latitude': 51.5030541,
   'longitude': -0.115668,
   'geopoint': {'type': 'Point', 'coordinates': [-0.115668, 51.5030541]}},
  {'_id': ObjectId('5efa0a7b374593c6406084ec'),
   'name': "The St James's Partnership",
   'latitude': 51.50731,
   'longitude': -0.1341694,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1341694, 51.50731]}}]}

## Train Stations

In [11]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.trains.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=700))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 2
#Playfish 0
#TweetDeck 0

{'amiando': [{'_id': ObjectId('5efa0a5affef02eb8a2fb986'),
   'name': 'Shoreditch High Street',
   'latitude': 51.5232698,
   'longitude': -0.0753729,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0753729, 51.5232698]}},
  {'_id': ObjectId('5efa0a5affef02eb8a2fb995'),
   'name': 'Liverpool Street Station',
   'latitude': 51.5187516,
   'longitude': -0.0814374,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0814374, 51.5187516]}}],
 'Playfish': [],
 'TweetDeck': []}

# FOR FUN

## Starbucks

In [12]:
#I check for Starbucks, there is one close to the offices.
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        #print(inlondon.name[i])
        #print(inlondon.iloc[i].geopoint)
        results = list(db.starbucks.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=1000))) 
        #print(results)
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 0
#Playfish 0
#TweetDeck 3

{'amiando': [],
 'Playfish': [],
 'TweetDeck': [{'_id': ObjectId('5efa0c3c5484c8b438666e0e'),
   'name': 'Starbucks Coffee',
   'latitude': 51.4990833,
   'longitude': -0.1336109,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1336109, 51.4990833]}},
  {'_id': ObjectId('5efa0c3c5484c8b438666e10'),
   'name': 'Starbucks Coffee',
   'latitude': 51.501962,
   'longitude': -0.117661,
   'geopoint': {'type': 'Point', 'coordinates': [-0.117661, 51.501962]}},
  {'_id': ObjectId('5efa0c3c5484c8b438666e0c'),
   'name': 'Starbucks',
   'latitude': 51.5074566,
   'longitude': -0.1228585,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1228585, 51.5074566]}}]}

## Pubs

In [13]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.pubs.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=1000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 1
#Playfish 0
#TweetDeck 1

{'amiando': [{'_id': ObjectId('5efa249ffde4801be6de455d'),
   'name': 'The Ten Bells Spitalfields',
   'latitude': 51.5193581,
   'longitude': -0.0743275,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0743275, 51.5193581]}}],
 'Playfish': [],
 'TweetDeck': [{'_id': ObjectId('5efa249ffde4801be6de4567'),
   'name': 'The Marquis of Granby',
   'latitude': 51.4952101,
   'longitude': -0.1271031,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1271031, 51.4952101]}}]}

# CULTURE, KNOWLEDGE, TAKING & SHARING
## Universities

In [14]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.universities.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=1000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 2
#Playfish 0
#TweetDeck 0

{'amiando': [{'_id': ObjectId('5efa0b6d1237e192d22c1b58'),
   'name': 'London School of Business and Finance- Professional Qualifications',
   'latitude': 51.5214102,
   'longitude': -0.0896779,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0896779, 51.5214102]}},
  {'_id': ObjectId('5efa0b6d1237e192d22c1b65'),
   'name': 'New City College, Hackney',
   'latitude': 51.5306517,
   'longitude': -0.078847,
   'geopoint': {'type': 'Point', 'coordinates': [-0.078847, 51.5306517]}}],
 'Playfish': [],
 'TweetDeck': []}

## Other Companies

In [15]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.othercomp.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=1000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)
#amiando 1
#Playfish 0
#TweetDeck 0

{'amiando': [{'_id': ObjectId('5efa0d31bf6699e2e1d7e0dc'),
   'name': '9 Designs',
   'latitude': 51.5181768,
   'longitude': -0.0905412,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0905412, 51.5181768]}}],
 'Playfish': [],
 'TweetDeck': []}

## Auditoriums

In [16]:
def againstmongo(inlondon):
    closest= {}    
    for i in range(len(inlondon)):
        results = list(db.auditoriums.find(geoQueryNear(inlondon.iloc[i].geopoint, radius=1000))) 
        closest[inlondon.name[i]]= results 
    return closest

againstmongo(inlondon)

#amiando 2
#Playfish 0
#TweetDeck 3

{'amiando': [{'_id': ObjectId('5efa0be347579b3661cbc27b'),
   'name': 'Defected Records',
   'latitude': 51.523004,
   'longitude': -0.0808106,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0808106, 51.523004]}},
  {'_id': ObjectId('5efa0be347579b3661cbc285'),
   'name': 'Guildhall School of Music & Drama',
   'latitude': 51.5197123,
   'longitude': -0.0918272,
   'geopoint': {'type': 'Point', 'coordinates': [-0.0918272, 51.5197123]}}],
 'Playfish': [],
 'TweetDeck': [{'_id': ObjectId('5efa0be347579b3661cbc27f'),
   'name': 'Millbank Media Centre',
   'latitude': 51.4922327,
   'longitude': -0.1257952,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1257952, 51.4922327]}},
  {'_id': ObjectId('5efa0be347579b3661cbc283'),
   'name': 'Southbank Centre',
   'latitude': 51.505662,
   'longitude': -0.1169456,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1169456, 51.505662]}},
  {'_id': ObjectId('5efa0be347579b3661cbc284'),
   'name': 'Royal Festival Hall',
   'latitude': 51.5058062,
   'longitude': -0.1166288,
   'geopoint': {'type': 'Point', 'coordinates': [-0.1166288, 51.5058062]}}]}

# amiando 15
## TweetDeck 11
### Playfish 0